{% extends 'base.html.twig' %}

{% block title %}Tâche{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.title, {label: 'Nom'}) }}
    {{ form_row(form.description, {label: 'Description'}) }}
    {{ form_row(form.deadline, {label: 'Date limite'}) }}
    {{ form_row(form.status, {label: 'Statut'}) }}
    {{ form_row(form.employee, {label: 'Employé'}) }}
    <button class="button button-submit">{% if not task %}Ajouter{% else %}Modifier{% endif %}</button>
    {% if not task %}
        <a href="{{ path('app_task_delete', {'id': task.id}) }}" class="delete-task">Supprimer la tâche</a>
    {% endif %}
    {{ form_end(form) }}

{% endblock %}