{% extends 'base.html.twig' %}

{% block title %}Ajouter une tâche{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.title, {label: 'Nom'}) }}
    {{ form_row(form.description, {label: 'Description'}) }}
    {{ form_row(form.deadline, {label: 'Date limite'}) }}
    {{ form_row(form.status, {label: 'Statut'}) }}
    {{ form_row(form.employee, {label: 'Employé'}) }}
    <button class="button button-submit">Ajouter</button>
    {{ form_end(form) }}

{% endblock %}